{
  "parser": "babel-eslint",
  "extends": [
    "standard"
  ],
  "plugins": [
    "babel",
    "promise",
    "mocha"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "$": true,
    "AUTH0_DOMAIN": true,
    "AUTH0_CLIENT_ID": true,
    "Auth0Lock":, true,
    "it": true,
    "describe": true,
    "context": true
    },
  "rules": {
  }
}
