{
  "parser": "babel-eslint",
  "extends": [
    "standard"
  ],
  "plugins": [
    "babel",
    "promise"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "$": true
    },
  "rules": {
  }
}
