form {
  padding: 20px;
}

fieldset {
  margin-bottom: 20px;
  padding: 0;
}

fieldset p {
  margin: 0 20px;
}

label {
  display: block;
  padding: 10px 0;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}

#add-poll-option-button {
  background-color: mediumSeaGreen;
}

#add-poll-option-button:hover {
  background-color: darkSeaGreen;
}

#submit-new-poll-button {
  background-color: DarkTurquoise;
  margin-left: -4px;
}

#submit-new-poll-button:hover {
  background-color: mediumTurquoise;
}

.poll-link {
  border-bottom: 1px solid dimgray;
}
