.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 10px;
}

h4 {
  text-align: left;
  display: inline-block;
}

button[class^='btn'] {
  width: 120px;
}

.btn-logout {
  margin-right: 10px;
}

.vote-tally {
  width: 250px;
}

article {
  border-bottom: 1px solid dimgray;
  padding: 10px;
}
